@model GestaoTarefas_CP.Models.Cargo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cargo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_Cargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_Cargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Escola_Cargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Escola_Cargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CargoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
