@model GestaoTarefas_CP.Models.ViewModels.EscolaViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>            
            Procurar: <input type="text" name="SearchString" value="@Model.SearchString" place-holder="Professor" />

            <a asp-action="Index" class="btn btn-primary btn-sm">Lista Completa de Professores</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                NomeEscola
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Escolas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeEscola)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EscolaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EscolaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EscolaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Total_Paginas > 1)
{
    @for (int i = 1; i <= Model.Total_Paginas; i++)
    {

        @if (i == Model.Pagina_Atual)
        {
            <a href="#" class="btn btn-primary">@i</a>
        }
        else
        {
            <a asp-action="Index" asp-route-page="@i" class="btn btn-primary">@i</a>
        }
    }
}